
version: "3.9"
services:
  api:
    build: ./backend
    ports:
      - "8000:8000"
    networks:
      - modernizer-net

  ui:
    build: ./frontend
    ports:
      - "5173:4173"
    networks:
      - modernizer-net

networks:
  modernizer-net:
